.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.global-option {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
  background: var(--ifm-background-color);
  z-index: 15;
}


.global-option + * {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem + 200px) !important;
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem + 240px )) !important;
}

.global-option-mobile {
  margin: 32px 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
