.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 58px;
  height: 24px;
  border: var(--ifm-color-primary) 3px solid;
  border-radius: 12px;
  transition: background 0.6s;
}


.container-open {
  background: var(--ifm-color-primary);
}

.slider {
  background: var(--ifm-color-primary);
  width: 14px;
  height: 14px;
  border-radius: 9px;
  margin-left: 2.5px;
  transition: all 0.6s;
}

.slider-open {
  background: white;
  margin-left: 36px;
}

.label {
  margin: 16px 24px 16px 0;
  display: inline-block;
}

.label-top {
  margin: 8px 0;
  display: block;
  font-weight: bold;
}
