.header {
    padding: 28px 2rem;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 996px) {
    .header {
        padding: 32px 16px;
    }
}

.title-container {
    max-width: 1446px;
    margin: auto;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: normal;
}

.blist {
    display: flex;
    flex-direction: row;
}

.blist a {
    margin-right: 16px;
}

[data-theme='dark'] .blist a {
    background: #1a8870;
    color: white;
    border: solid 1.5px var(--ifm-color-content-inverse);
}

.breadcrumbs {
    margin: 16px 0;
}

.content {
    max-width: 1530px;
    width: 100%;
    margin: 0px auto;

}

.cliBlock {
    border: solid 1.5px var(--ifm-color-content-inverse);
    padding: 4px 20px;
    vertical-align: middle;
    border-radius: 4px;
}

[data-theme='dark'] .cliBlock {
    background: #1a8870;
    color: white;
}

@media screen and (min-width:996px) {
    .table {
        margin: 32px;
    }
    .breadcrumbs {
        margin: 16px 32px;
    }
}

@media screen and (max-width:720px) {
    .table tr>*:last-child {
        display: none;
    }
}