/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table-container {
  margin: 32px;
  flex-grow: 1;
  max-width: 1034px;
  display: flex;
  justify-content: center;
}

.sidebar-container {
  margin: 32px 32px 32px 0;
  width: 400px;
}

.banner-img {
  width: 480px;
  box-shadow: 5px 5px 20px 0px var(--ifm-color-content);
  margin-right: 32px;
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width: 1530px;
}

.header-container .main-part {
  margin: 32px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container .cli-ad-container{
  margin: 32px;
  flex: 1 1 0;
  min-width: 0;
  position: relative;
}


.header-container .left {
  text-align: left;
}

.search {
  display: block;
  font-size: 1.5em;
  padding: 16px;
  background: transparent;
  border: var(--ifm-color-content-inverse) solid 2px;
  border-radius: 8px;
  transition: all 0.3s;
  outline: none;
  caret-color: var(--ifm-color-content-inverse);
  max-width: 480px;
}

.search::placeholder{
  color: var(--ifm-color-content-inverse)
}

.search:not(:placeholder-shown) {
  background: var(--ifm-color-content-inverse);
  caret-color: var(--ifm-color-content);
}

.search:focus {
  background: var(--ifm-color-content-inverse);
  caret-color: var(--ifm-color-content);
}


@media screen and (max-width:1200px) {
  .sidebar-container {
    width: 300px;
  }
}

@media screen and (max-width:996px) {
  .sidebar-container {
    flex-grow: 1;
    margin: 8px;
  }
  .list-container {
    flex-wrap: wrap;
  }
  .table-container {
    margin: 0;
  }
  .header-container {
    flex-direction: column-reverse;
  }

  .header-container .main-part,
  .header-container .cli-ad-container {
    margin: 24px;
  }
}

@media screen and (max-width:480px){
  .sidebar-container {
    width: 100%;
  }
}
