/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  display: flex;
  justify-content: center;
}

.table-container {
  margin-top: 32px;
  flex-grow: 1;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.sidebar-container {
  margin: 32px;
  width: 400px;
}
