.container {
  margin: 0px auto;
  padding: 32px;
  width: 100%;
  max-width: 640px;
}


.header-container {
  margin: 0 auto;
}

.header-container h1 {
  font-size: 3em;
}

.result {
  margin: 32px 0;
}

.result h4 svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-right: 8px;
}

.result h4 {
  display: flex;
  font-size: 1.2em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.release-banner {
  padding-left: 32px !important;
  padding-right: 32px !important;
  text-align: center;
}
