.side p {
  margin: 0;
}

.side a {
  color: var(--ifm-color-content);
}

.side a:hover {
  color: var(--ifm-color-primary);
}

.side h3 {
  margin-top: 32px;
  color: var(--ifm-color-primary);
}

.side a:first-child>h3 {
  margin-top: 0;
}

.button {
  border: var(--ifm-color-primary) 2px solid;
  background: none;
  margin: 16px 0;
  transition: background-color 0.3s, color 0.3s;
  color: var(--ifm-color-primary);
}


.button:hover {
  background: var(--ifm-color-primary);
  color: var(--ifm-color-content-inverse);
}

.domain-row>a {
  display: inline-block;
  width: 180px;
}

.side h3 svg,
.side a svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin: 0 8px 0 0;
}

.side h3 svg path {
  fill: var(--ifm-color-primary);
}

.global-dropdown {
  width: 300px;
  font-size: 1rem;
  padding: 8px 16px 16px 16px;
  color: var(--ifm-font-color-base);
}

.domain-choose {
  cursor: pointer;
}
