/* styles for detail */
.detail {
  min-width: 1600px;
}

.detail .name {
  width: 220px;
}

.detail .desc-container {
  display: none;
}

.detail .upstream {
  width: auto;
}

.date {
  width: 240px;
  position: relative;
}

.date-content {
  display: flex;
  justify-content: space-between;
}

.detail .date {
  width: 180px;
}

.date-abs {
  background: var(--ifm-color-primary);
  color: white;
  padding: 0 0.5em;
  border-radius: 4px;
  white-space: nowrap;
  position: absolute;
  left: 8px;
  z-index: 100;
}

.date-short {
  width: 140px;
}

.upstream {
  width: 500px;
}

.size {
  width: 120px;
}

.status {
  width: 120px;
}

.mirror-name {
  position: relative;
  margin-right: 4px;
}

.mirror-name:hover .desc-container {
  visibility: visible;
  opacity: 1;
}

.copied {
  font-style: italic;
  font-size: 0.8rem;
  margin-right: 4px;
  white-space: nowrap;
}

.desc-container {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  top: -8px;
  left: calc(100% + 16px);
  padding: 2px 8px;
  z-index: 999;
  width: max-content;
  max-width: 256px;
  box-shadow: #aeaeae 4px 4px 16px 0px;
  background: var(--ifm-color-content-inverse);
  border: var(--ifm-color-primary) 2px solid;
  border-radius: 8px;
  transition: opacity 0.3s;
}

@media screen and (max-width: 480px) {
  .desc-container {
    display: none;
  }
}

.desc-container::before {
  content: ' ';
  position: absolute;
  left: -10px;
  top: 8px;
  width: 10px;
  height: 16px;
  display: block;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: var(--ifm-color-primary);
}

.desc-container p {
  padding: 0px;
  margin: 0;
}

.git-desc {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.2rem 0 !important;
}

.name {
  line-break: anywhere;
  min-width: 300px;
}

.row-none {
  background: var(--ifm-color-warning-contrast-background) !important;
}

.row-failed {
  background: var(--ifm-color-danger-contrast-background) !important;
}

.row-syncing {
  background-color: var(--ifm-color-success-contrast-background) !important;
}

.row-presyncing {
  background: var(--ifm-color-success-contrast-background) !important;
}

.row-paused {
  background: var(--ifm-color-warning-contrast-background) !important;
}

.row-disabled {
  background: var(--ifm-color-info-contrast-background) !important;
}

.detail .help-link {
  display: none;
}

.help-link {
  white-space: nowrap;
  margin-right: 4px;
}

.help-link::before {
  content: '[';
}

.help-link::after {
  content: ']';
}

.help-link svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin: 0 4px;
}

.help-link svg path {
  fill: var(--ifm-color-primary);
}

.help-link-copy {
  margin-left: 4px;
}

.status-label svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: 4px;
}

@media screen and (max-width:480px) {
  .date {
    width: 125px;
  }

  .detail .date {
    display: table-cell;
  }

  .date-abs {
    left: auto;
    right: 16px;
  }
}
