
.container{
  display: table;
  width: 100%;
}

.container tr{
  display: flex;
  border: none;
  text-align: left;
}

.container th{
  border: none;
}

.tbody th{
  font-weight: normal;
  padding: 4px 12px;
}

.last-update {
  width: 300px;
}


.name {
  flex-grow: 1;

}

.help {
  width: 80px;
}


@media screen and (max-width:640px) {
  .last-update {
    display: none;
  }
}
