
.container{
  display: table;
  width: 100%;
}

.container tr{
  display: flex;
  border: none;
  text-align: left;
}


.container tr:hover{
  background: var(--list-hover);;
}

.container th{
  border: none;
}

.tbody th{
  font-weight: normal;
  padding: 4px 12px;
}

.date {
  width: 200px;
}

.upstream {
  width: 500px;
}

.size {
  width: 100px;
}

.status {
  width: 100px;
}

.mirror-name {
  position: relative;
}

.mirror-name:hover .desc-container {
  opacity: 1;
}

.copied {
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 8px;
}

.desc-container {
  position: absolute;
  display: block;
  opacity: 0;
  top: -8px;
  left: calc(100% + 16px);
  padding: 2px 8px;
  z-index: 999;
  min-width: 256px;
  background: var(--ifm-color-content-inverse);
  border: var(--ifm-color-primary) 2px solid;
  border-radius: 8px;
  transition: opacity 0.3s;
}


.desc-container::before {
  content: ' ';
  position: absolute;
  left: -10px;
  top: 8px;
  width: 10px;
  height: 16px;
  display: block;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: var(--ifm-color-primary) ;
}

.desc-container p {
  padding: 0px;
  margin: 0;
}

.git-desc {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.2rem 0 !important;
}


.name {
  flex-grow: 1;
  flex-basis: 0;
  line-break: anywhere;
}

.help {
  width: 220px;
}

@media screen and (max-width:996px) {
  .help {
    width: 130px;
  }
}

@media screen and (max-width:480px) {
  .last-update {
    display: none;
  }
  .help {
    width: 200px;
  }
}


