.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 1466px !important; /* calc(1530px - 64px);  */
}

@media screen and (max-width: 996px) {
    .container {
        padding: 16px;
    }
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 150px;
}

.logos img {
    margin-left: 16px;
    margin-bottom: 16px;
}