.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 1466px !important;
    /* calc(1530px - 64px);  */
    font-size: 14px;
}

.container div:first-child div {
    margin-bottom: 0.3em;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 150px;
}

.logos img {
    margin-left: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 996px) {
    .container {
        padding: 16px;
    }

}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .logos {
        flex-direction: column;
    }

    .logos img {
        margin-top: 16px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.logos .light {
    display: block;
}

.logos .dark {
    display: none;
}

[data-theme="dark"] .logos .light {
    display: none;
}

[data-theme="dark"] .logos .dark {
    display: block;
}

